<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA-wDWJrR-VEHKbml70SpmlCfZqaEJF9_k</string>
	<key>GCM_SENDER_ID</key>
	<string>416110676047</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rentPaddy</string>
	<key>PROJECT_ID</key>
	<string>chatapp-e7f23</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-e7f23.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:416110676047:ios:cfef315623ba4f86eec23a</string>
</dict>
</plist>